button {
  float: right;
}
.line01 {
  border-left-color: rgb(253, 165, 0);
  border-left-style: double;
  border-left-width: 3px;
  padding: .3em;
}
.container {
  margin: 0.1em;
  color: white;
}
#span {
  color: lightsalmon;
}
#h2 {
  margin-right: 4.2em;
  float: right;
  text-decoration: underline;
  margin-left: 4em;
  color: lime;
  font-family: bold;
  font-size: 20pt;
  text-shadow: 2px 2px 5px dodgerblue;
}
.card {
  padding: .2em;
  
}
.main-container {
  background-image: url(../src/static/image01.jpg);
  padding-top: 2em;
  padding-bottom: 2em;
}
#hr {
 background-color: rgb(219, 219, 241);
height: 4px;
}
#input {
  background-color: rgba(5, 14, 14, 0.8);
  height: 3em;
  text-shadow: 2px 2px 5px rgb(56, 175, 230);
  font-size: 20pt;
  color: rgb(0, 255, 149)
}